*{margin: 0px;padding: 0px;
font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
box-sizing: border-box;}
header{display: flex ; height: 80px;
    justify-content: space-evenly;
align-items: center;
    background-color: #fff;
       box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
   
}
#image{height: 50px;
width: 53px;}
#logocontainer{margin-left: 3%;}

#navbar{display: flex;
min-width: 500px;
justify-content: space-evenly;}
#navbar a{color: #282c3f;
text-decoration: none;
font-size: 14px;
letter-spacing: .3px;
font-weight: 700;
padding: 30px;
border-bottom: solid #ffff;
}
#navbar a:hover{
    border-bottom : solid 3px #ff3f6c;;
}
#navbar a sup{color: rgb(245, 33, 157);}
.search-bar{
   
    height: 40px;
    min-width: 400px;
display: flex;
align-items: center;

}
.search-icon{
    box-sizing: content-box;
  height: 20px;
padding: 10px;background-color:#f5f5f6; 
font-weight: 300;
color: #696e79;
border-radius: 4px 0px 0px 4px;
}
#search-input{ color: #696e79;
   background-color:#f5f5f6; 
flex-grow: 2;
height: 40px;
border: 0px;
border-radius: 0px 4px 4px 0px;
}
.action-bar{display: flex;
margin-right: 3%;
justify-content: space-between;
min-width: 200px;
}
.actioncontainer{display: flex;
flex-direction: column;
align-items: center;}
/* part 1 completed*/


/* main section*/
.banner-container{
height: auto;
margin: 40px 30px 30px 30px;
}

.poster{width: 100%;}
.category-heading{
margin: 40px 40px 40px 40px;

}
.p3{width: 100%;}


/* category items*/

.category-items{
    display: flex;
    justify-content: space-evenly;
padding-left: 70px;
padding-right: 50px;
align-items: center;
   
    align-items: center;
}

.off{
width: 200px;
    height: 210px;
 
}

.category-shop{
    display: flex;
    justify-content: space-evenly;
padding-left: 70px;
padding-right: 50px;

}
.shop{
width: 220px;
height: 240px;
margin: 5px 3px 5px 3px;
}


/* footer*/ 
.footer-column h3{color: #282c35;
    font: 12px;
    height: 15.2px;
    width: auto;



}


.footer-conatiner{
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
display: flex;
justify-content: flex-start;
border-left: #afafb1;

}

.footer-column{
display: flex;
flex-direction: column;
margin-left: 120px;
}
.footer-column a{
text-decoration: none;
font-size: 15px; color: #696B79;
padding: 14px 0px 5px;
width: 155px;
height: 15.5px;
}
.footer-column h4{color: #282c35;
    font: 12px;
    height: 15.2px;
    width: auto;
}
.copyright{
color: #94969f;
font-size: 16px;
margin: 0px 0px 0px 100px;
text-align: end;
}